# Копируй этот файл: cp .env.example .env
# Реальный .env никогда не коммить в git!

# Django
SECRET_KEY=замени-на-свой-случайный-ключ
DEBUG=1

# PostgreSQL
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=замени-на-свой-пароль
POSTGRES_DB=transcendence_db

# Redis
REDIS_URL=redis://redis:6379/0
